*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #42a1f5, #42f55d);
}

.main-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.main-wrapper > button {
    cursor: pointer;
    font-size: 2em;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.main-wrapper > button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.span-two {
    grid-column: span 2;
}

.output-number {
    grid-column: 1 / -1;
    background-color: rgba(24, 56, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}


.output-number .previous-number {
    color: white;
    font-size: 1.5rem;
}
.output-number .current-number {
    color: white;
    font-size: 2.5rem;
}